.mypage {
  background-image: url('../assets/images/mypage_bg.png');
  background-size: cover;
  background-position: center;
  .v-application--wrap {
    min-height: unset !important;
  }
  canvas {
    height: 45vh !important;
  }
  .icon {
    width:175px;
    height:175px;
    float:left;
    position:relative;
    border:1px solid rgba(0,0,0,.15);
    box-shadow: inset -1px -1px 0px 0px rgba(255,255,255,0.04);
    border-left:0;
    border-top:0;
  }
  .calendar {
    width:108px;
    height:96px;
    background:#eeecdf;
    position:absolute;
    left:50%;
    margin-left:-54px;
    top:50%;
    margin-top:-48px;
    border-radius:6px;
    box-shadow: 0 2px 0 0px rgba(0,0,0,0.25), inset 0 1px 0 0 rgba(255,255,255,0.2);
    font-family:Arial, helvetica, 'sans';
    font-size:45px;
    line-height:112px;
    text-align:center;
  }
  .calendar:after {
    content:"";
    width:108px;
    height:27px;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2);
    background:#d64646;
    position:absolute;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    top:0; left:0;
  }
  .calendar:before {
    content:"";
    width:0;
    height:0;
    border-bottom: 23px solid #37353a;
      border-left: 23px solid transparent;
    position:absolute;
    bottom:-2px;
    right:0;
  }
  .calendar .flip {
    position:absolute;
    right:0;
    bottom:0;
    width: 0;
      height: 0;
      border-top: 23px solid #fff;
      border-right: 23px solid transparent;
  }
  .calendar .flip:after {
    content:"";
    width:0;
    height:0;
    border-bottom: 23px solid rgba(0,0,0,0.25);
      border-left: 23px solid transparent;
    position:absolute;
    top:-23px;
    right:0;
  }
  .calendar .holes {
    width:8px;
    height:8px;
    position:absolute;
    border-radius:50%;
    background:#37353a;
    left:22px;
    top:10px;
    z-index:10;
    box-shadow: inset 0 2px 0 0px rgba(0,0,0,0.25), 0 1px 0 0 rgba(255,255,255,0.2);
  }
  .calendar .holes:after {
    content:"";
    width:8px;
    height:8px;
    position:absolute;
    border-radius:50%;
    background:#37353a;
    left:56px;
    box-shadow: inset 0 2px 0 0px rgba(0,0,0,0.25), 0 1px 0 0 rgba(255,255,255,0.2);
  }
}